body{
    background-color:white;
}
h1{
    color:greenyellow;
    text-align: center;
    font-size: 72px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
}
li{
    color:blue;
    font-size: Verdana;

}